@(userForm: Form[User], recList: java.util.ArrayList[String])

@import helper._

@main("Recommendations") {

	@helper.form(action = routes.Register.submitrec()){
		<h2>Movies Recommended For You</h2>
		@inputRadioGroup(
          userForm("movie1"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(0))
        @inputRadioGroup(
          userForm("movie2"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(1))
		@inputRadioGroup(
          userForm("movie3"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(2))
		@inputRadioGroup(
          userForm("movie4"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(3))
		@inputRadioGroup(
          userForm("movie5"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(4))
		@inputRadioGroup(
          userForm("movie6"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(5))
		@inputRadioGroup(
          userForm("movie7"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(6))
		@inputRadioGroup(
          userForm("movie8"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(7)) 
		@inputRadioGroup(
          userForm("movie9"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(8))
		@inputRadioGroup(
          userForm("movie10"),
          options = options("0"->"0","1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"),
          '_label -> recList.get(9))
          <input type="submit" class="btn primary" value="Send">
    }
    
}